name: test project
on: [push,workflow_dispatch]
jobs:
    test:
        runs-on: macos-26
        steps:
            - name: get code
              uses: action/checkout@v3
            - name: Install NodeJS
              uses: actions/setup-node@v3
              with:
                node:version: '18'
            - name: Install dependencies
              run: npm ci
            - name: Run tests
              run: npm test    
    deploy:
        runs-on: macos-26
        steps:
            - name: Get code
              uses: actions/checkout@v3
            - name: Install NodeJS
              uses: actions/setup-node@v3 
              with:
                node-version: '18'
            - name: Install dependencies
              run: npm ci
            - name: Run tests
              run: npm test 
            - name: Build Project
              run: npm run build
            - name: Deploy
              run: echo "Deploying....." 

